:root {
  --gold: #d49d37;
  --gold-hover: #f29f58;
  --bg: #ffffff;
  --text-light: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  letter-spacing: -1.1px;
  font-weight: 300;
}

body {
  color: var(--text-light);
  background-color: var(--bg);
  line-height: 1;
}

.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3 {
  color: var(--gold);
  margin-bottom: 10px;
}

p {
  color: var(--text-light);
}

.btn {
  display: inline-block;
  background-color: var(--gold);
  color: var(--bg);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s;
  width: fit-content;
}

.btn:hover {
  background-color: black;
  color: white;
}
