footer {
  background-color: var(--bg);
  color: var(--gold);
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 20px;
}

.footer-column {
  padding: 0 15px;
}

.footer-column h3 {
  color: black;
  font-size: 14px;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column a {
  color: var(--gold);
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  text-align: right;
}
